* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #000;
}

/* Header */

header {
    background-color: rgb(72, 163, 255);
    background-image: url('../imgs/pattern.png');
    background-repeat: repeat;
    background-size: 20%;
    width: 100%;
    height: 80px;
    padding-top: 35px;
}

.container_logo{
    max-width: 80%;
    margin: auto;
}

.logoSite{
    width: 150px;
}

/* Container main */

.container_main{
    margin-top: 20px;
    margin-bottom: 20px;
}

.primary_title{
    color: black;
    font-size: 30px;
    font-weight: 800;
}

.written_by{
    color: grey;
    font-size: 18px;
    font-weight: 500;
}

.written_by span{
    color: rgb(72, 163, 255);
    font-size: 20px;
    font-weight: 500;
}

.date{
    color: grey;
    font-size: 15px;
    font-weight: 500;
}

/* Container image */

.container_image{
    margin-top: 20px;
}

.container_photo_description p {
    color: grey;
    font-size: 15px;
    font-weight: 500;
}

/* Container description */

.container_description{
    margin-top: 20px;
}

/* Container ul */

.container_ul{
    margin-top: 20px;
}

.container_ul ul{
    padding-left: 0;
}

.container_ul li{
    margin-left: 1em;
}

/* Container table */

.container_table{
    width: 100%;
    margin-top: 20px;
}

.container_table table{
    border-style: 0;
}

.container_table thead{
    background-color: rgb(0, 106, 255);
    height: 30px;
}

.text_color{
    color: white;
    white-space: nowrap;
}

.container_table tbody {
    background-color: rgb(120, 188, 255);
}

.tr_center_bg_color{
    background-color: white;
}

tbody td{
    height: 60px;
}

th {
    text-align: left;
    padding-right: 150px;
}

/* Footer */

footer{
    margin-top: 50px;
    margin-bottom: 50px;
}

footer h3{
    color: grey;
    font-size: 20px;
    font-weight: 800;
}

.box_img{
    background-repeat: no-repeat;
    height: 200px;
    padding: 10px;
    margin-top: 10px;
}

.container_img h2{
    color: white;
    font-size: 20px;
    font-weight: 800;
}